* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
section {
  padding: 15px 30px;
}
/* rigole generali link */
a {
  text-decoration: none;
  color: white;
}
.circle {
  color: black;
  padding: 5px;
  border-radius: 25px;
  border: 1px solid black;
  background-color: white;
  font-size: medium;
}
/* header css */
/* prima sezione header */
header {
  background-color: rgb(14, 143, 143);
  font-size: larger;
  background-image: url(../img/jumbo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.login {
  color: white;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.login > div {
  width: 20%;
}
.login > .info {
  width: 50%;
}
.info > ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.login > .rec {
  text-align: end;
}
/*  seconda section header */

.dowload {
  margin: 7% 25%;
  text-align: center;
  color: white;
}
.dowload > p {
  margin: 30px auto;
}
/* css main */
main {
  margin-top: 5%;
}
main > .main-box {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
main > section {
  padding: 0 20%;
}
main > section:nth-of-type(even) {
  background-color: rgb(233, 223, 223);
}
.main-box > div {
  padding-right: 20%;
  width: 40%;
}
.main-box > .pic {
  background-image: url(../img/item1.svg);
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  width: 60%;
  min-height: 200px;
}
.main-box > .server {
  background-image: url(../img/item2.svg);
  background-position: left;
}
.main-box > .fandom {
  background-image: url(../img/item3.svg);
}
.main-box:nth-of-type(2) {
  flex-direction: row-reverse;
}
.main-box > .reverse {
  padding-left: 20%;
  padding-right: 0;
}
/*  end section main */
main > .end-main {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  padding-bottom: 30px;
  text-align: center;
}

.end-main h2,
.end-main p {
  margin: 20px auto;
}

.star > svg {
  position: relative;
  top: 20px;
}
.end-main h3 {
  margin-bottom: 30px;
}
/*  regolo bottoni main and footer */
.end-main .circle,
.end .circle {
  color: white;
  background-color: rgb(142, 161, 225);
  border-radius: 25px;
  border: none;
  padding: 10px;
}
/* wave */
.wave > svg {
  fill: rgb(233, 223, 223);
  position: relative;
  bottom: -4px;
}
.wave:nth-of-type(even) {
  transform: rotate(180deg);
}
/* css footer 
 css info-page general */
.info-page {
  display: flex;
}
.info-page > .language {
  width: calc((100% / 6) * 2);
}
.info-page > div {
  width: calc(100% / 6);
}
footer {
  background-color: rgb(35, 39, 42);
}
/* css language */
.language {
  padding: 1% 10%;
  line-height: 35px;
}
.language > h3 {
  font-size: xx-large;
  color: rgb(53, 82, 179);
}
.language > select {
  border: none;
  background-color: transparent;
  color: white;
  font-size: large;
}
.language option {
  background-color: rgb(35, 39, 42);
}
.language > i {
  color: white;
  margin-right: 5px;
  font-size: larger;
}
select::after{
  content: url(../img/ita.png);
}
/* footer list */
footer ul {
  list-style: none;
  margin: 5% 25%;
}
li > strong {
  color: rgb(53, 82, 179);
  font-size: large;
}
footer li {
  margin: 10% auto;
  color: white;
}
/* css footer end */
.end {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 10px;
}
.end .circle {
  color: white;
  border-radius: 25px;
  padding: 5px;
  background-color: rgb(142, 161, 225);
}
.circle:hover {
  color: white;
  background-color: rgb(35, 39, 42);
}
.circle:active {
  background-color: red;
  color: darkgoldenrod;
}
