/* regole contenitori generali */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    text-decoration: none;
}
body{
    background-image: url(../../img/jumbo.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}
.container{
    display: flex;
    width: 60%;
    margin: 20%;
    background-color: rgb(35, 39, 42);
}
.box{
    width: 59%;
    border: 1px solid black;
}
.QR{
    width: 39%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
/*  header css */
header{
    text-align: center;
    margin:30px auto;
}
header>h1{
    margin-bottom: 5px;
}
/* main css */
main{
    margin: 0 20px;
    margin-bottom: 30px;
}
main>section{
    margin-bottom: 20px;
}
